* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Oswald', sans-serif;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px 0;
  z-index: 1000;
}

header h2 {
  text-transform: uppercase;
}

header nav {
  display: flex;
}

header nav li {
  margin: 0 15px;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}

.header-neon {
  animation: headerNeon .08s ease-in-out infinite alternate;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 100px;
}

section p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}

.banner-area {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #f3f3f3;
  text-align: center;
}

.banner-area .custom-shape-divider-bottom-1615403454 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.banner-area .custom-shape-divider-bottom-1615403454 svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
  height: 39px;
}

.banner-area .custom-shape-divider-bottom-1615403454 .shape-fill-1 {
  fill: #E2E2E2;
}

.banner-area .banner-img {
  background-image: url(../img/1.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

.banner-area .banner-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .8;
}

.banner-area h1 {
  margin-bottom: 50px;
  font-family: 'Reggae One', cursive;
  font-size: 70px;
  padding: 10px;
  border-radius: 10px;
  transition: 1s;
}

.banner-area h2 {
  text-decoration: underline;
  margin-bottom: 40px;
  font-size: 30px;
  transition: 0.5s;
}

.banner-area h2:hover {
  transform: scale(1.2);
  color: #21e2f3;
  text-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

.banner-area .banner-btn {
  text-transform: uppercase;
  padding: 20px 35px;
  overflow: hidden;
  transition: 0.2;
  color: #2196f3;
  transition: 0.5s;
  text-shadow: 0 0 10px #2196f3;
  border: 1px solid;
  background: none;
  outline: none;
}

.banner-area .banner-btn:hover {
  color: #03bcf4;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  border: none;
  outline: none;
  cursor: pointer;
}

.hero-neon {
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  line-height: 0.70em;
  outline: none;
  animation: heroNeon 5s infinite;
  padding: 20px;
}

.about-area {
  background-color: #e2e2e2;
  transition: 1s;
}

.about-area p {
  max-width: 800px;
  margin-bottom: 35px;
  line-height: 1.5;
  text-align: left;
  padding-left: 0;
}

.about-area .about-tittle {
  text-transform: uppercase;
  font-size: 55px;
}

.about-area .about-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-area .about-content li {
  padding: 20px;
  height: 290px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.about-area .about-content .about-left {
  flex-basis: 45%;
  background-image: url(../img/3.jpg);
}

.about-area .about-content .about-right {
  flex-basis: 55%;
}

.about-area .about-content .about-right h2 {
  margin-bottom: 3%;
}

.about-area .about-content .about-right .about-btn {
  padding: 1rem;
  text-align: center;
  border-radius: 100px;
  text-transform: uppercase;
  transition: 1.5s;
  width: 150px;
  border: 1px solid #2196f3;
}

.about-area .about-content .about-right .about-btn:hover {
  background: #2196f3;
}

.about-area .about-content .about-right .about-btn:hover a {
  color: #fff;
}

.about-area .about-content .about-right .about-btn a {
  color: #000116;
  transition: 1.5s;
}

.about-left-neon {
  flex-basis: 45%;
  background-image: url(../img/2.jpg);
}

.about-area-neon {
  background: #000116;
}

.span-about-neon {
  animation: spanAbout 2.5s linear infinite;
}

.span-about-neon:nth-child(1) {
  animation-delay: 0s;
}

.span-about-neon:nth-child(2) {
  animation-delay: 0.3s;
}

.span-about-neon:nth-child(3) {
  animation-delay: 0.6s;
}

.span-about-neon:nth-child(4) {
  animation-delay: 0.9s;
}

.span-about-neon:nth-child(5) {
  animation-delay: 1.2s;
}

.span-about-neon:nth-child(6) {
  animation-delay: 1.5s;
}

.span-about-neon:nth-child(7) {
  animation-delay: 1.8s;
}

.about-project-neon {
  color: #f32e0b;
  text-transform: uppercase;
}

.about-project-neon::before {
  content: 'About our project';
  position: absolute;
  mix-blend-mode: difference;
  filter: blur(1px);
}

.about-right-neon {
  flex-basis: 60%;
}

.about-right-neon h2 {
  margin-bottom: 3%;
  filter: brightness(200%);
}

.about-right-neon p {
  color: #fff;
  text-shadow: 0 0 10px #f32e0b, 0 0 20px #f32e0b;
}

.about-btn-neon {
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  width: 150px;
  color: #f32e0b;
  border: 1px solid #f32e0b;
  border-radius: 100px;
  transition: 1.5s;
}

.about-btn-neon:hover {
  box-shadow: 0 5px 20px 0 #f32e0b inset, 0 5px 20px 0 #f32e0b inset, 0 5px 20px 0 #f32e0b inset;
}

.about-btn-neon a {
  text-transform: uppercase;
  color: #f32e0b;
}

.contact-area .custom-shape-divider-top-1615383257 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.contact-area .custom-shape-divider-top-1615383257 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 40px;
}

.contact-area .custom-shape-divider-top-1615383257 .shape-fill {
  fill: #E2E2E2;
}

.contact-area a {
  color: #000;
}

.contact-area .section-tittle {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 40px;
}

.contact-area .contact-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-area .contact-content li {
  padding: 0 30px;
  flex-basis: 33%;
  text-align: center;
}

.contact-area .contact-content li i {
  color: #2196f3;
  font-size: 2.5rem;
  margin-bottom: 25px;
}

.contact-area .contact-content li p {
  margin: 0;
}

.contact-area-neon {
  background: #46000c;
}

.contact-area-neon .span-contact-neon {
  animation: spanContact 2.5s linear infinite;
}

.contact-area-neon .span-contact-neon:nth-child(1) {
  animation-delay: 0s;
}

.contact-area-neon .span-contact-neon:nth-child(2) {
  animation-delay: 0.3s;
}

.contact-area-neon .span-contact-neon:nth-child(3) {
  animation-delay: 0.6s;
}

.contact-area-neon .span-contact-neon:nth-child(4) {
  animation-delay: 0.9s;
}

.contact-area-neon .span-contact-neon:nth-child(5) {
  animation-delay: 1.2s;
}

.contact-area-neon .span-contact-neon:nth-child(6) {
  animation-delay: 1.5s;
}

.contact-area-neon .span-contact-neon:nth-child(7) {
  animation-delay: 1.8s;
}

.contact-area-neon .custom-shape-divider-top-1615383257 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.contact-area-neon .custom-shape-divider-top-1615383257 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 40px;
}

.contact-area-neon .custom-shape-divider-top-1615383257 .shape-fill {
  fill: #E2E2E2;
}

.contact-area-neon a {
  color: black;
}

.contact-area-neon .section-tittle {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 40px;
}

.contact-area-neon .contact-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-area-neon .contact-content li {
  padding: 0 30px;
  flex-basis: 33%;
  text-align: center;
}

.contact-area-neon .contact-content li i {
  color: #7ff63a;
  font-size: 2.5rem;
  margin-bottom: 25px;
}

.contact-area-neon .contact-content li p {
  color: #fff;
  text-shadow: 0 0 10px #7ff63a, 0 0 20px #7ff63a, 0 0 40px #7ff63a;
  margin: 0;
}

footer {
  text-align: center;
  background: #222222;
  color: #fff;
}

footer p {
  padding: 1rem;
}

@keyframes headerNeon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 34px rgba(30, 132, 242, 0.78);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88);
  }
}

@keyframes heroNeon {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: #fff;
    text-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4;
  }
}

@keyframes spanAbout {
  0%, 80% {
    color: #000116;
    text-shadow: none;
  }
  100% {
    color: #fff;
    text-shadow: 0 0 10px #f32e0b, 0 0 20px #f32e0b, 0 0 40px #f32e0b;
  }
}

@keyframes spanContact {
  0%, 80% {
    color: #46000c;
    text-shadow: none;
  }
  100% {
    color: #fff;
    text-shadow: 0 0 10px #9efd06, 0 0 20px #9efd06, 0 0 40px #9efd06;
  }
}

@media (max-width: 1000px) {
  header {
    padding: 20px 50px;
  }
  section {
    padding: 100px 50px;
  }
  .about-area .about-content .about-left, .about-area .about-content .about-left-neon,
  .about-area .about-content .about-right {
    flex-basis: 100%;
  }
  .about-area .about-content .about-left-neon {
    display: none;
  }
  .about-area .about-content li {
    padding: 8px;
  }
  .contact-area .contact-content li {
    flex-basis: 100%;
    margin-bottom: 65px;
  }
  .contact-area .contact-content li:last-child {
    margin-bottom: 0;
  }
  .contact-area .contact-content li p {
    padding: 0;
  }
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  header h2 {
    margin-bottom: 15px;
  }
  header nav li {
    margin: 0 7px;
  }
}

@media (max-width: 700px) {
  section {
    padding: 120px 30px;
  }
}

@media (max-width: 431px) {
  header h2 {
    font-size: 20px;
  }
  .banner-area h1 {
    font-size: 40px;
  }
}

@media (max-width: 376px) {
  header h2 {
    font-size: 15px;
  }
}
/*# sourceMappingURL=main.css.map */