*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Oswald', sans-serif;
}


@import 'header';
@import 'banner';
@import 'about';
@import 'contact';
@import 'footer';
@import 'animation';
@import 'media';